:root {
    --baseSize: 10;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 20px;
  }

a {
    text-decoration: none;
    display: inline;
}

li {
    display: inline;
    font-family: 'Oswald', sans-serif;
}

#title {
    position: relative;
}

h1 {
    margin: 0px 0px 20px 20px;
    display: inline;
    color: black;
}

h5 {
    margin: 15px 20px;
    float: right;
    color: rgb(110, 110, 110);
    font-size: 20px;
    text-decoration: none;
    border: none;
    background-color: white;
}

li img {
    margin-left: 12px;
    width: 22px;
    height: 22px;
}

#menu {
    position: relative;
    display: none;
    padding:5px 0px 5px;
    width: 100%;
    background-color: rgb(145, 145, 145);
    text-align: center;
} 

/* text overlay*/
#bigmenu a {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    bottom: -3%; /* Adjust as needed to vertically center the text */
    left: 0; /* Extend to the left side */
    right: 0; /* Extend to the right side */
    transform: translateY(-50%); /* Center the text perfectly */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background color */
    color: white; /* Text color */
    padding: 5px 0px; /* Adjust padding as needed */
    text-align: center; /* Center text horizontally */
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
  }

/* decrease padding when adding more portfolios */
#menu a {
    padding: 4%;
    color: white;
    font-size: 16px;
}

/* Animations for opening and closing the menu */
.animate {
    animation: slide 200ms;
}

.animateReverse {
    animation: slide 200ms reverse;
}

@keyframes slide{
    0%{top: -30px}
    100%{top: 0px}
}

/* Responsive design - Makes menu vertical */
@media screen and (max-width: 600px) {
    #menu {padding:10px 0px 10px}
    #menu a {display:block; padding: 5px}
    @keyframes slide{
        0%{top: -210px}
        100%{top: 0px}
    }
}

/* Makes two equal collumns of images */
#content{
    position: relative;
}
.row img {
    width: 100%;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.collumn {
    flex: 50%;
    max-width: 50%;
    position: relative;
    padding: 5px;
}

.collumn img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive design - Makes a one collumn layout */
@media (max-width: 860px) {
    .collumn {
        flex: 100%;
        max-width: 100%;
    }
}